.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-1 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-left: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}
.react-switch {
  margin-left: 5px;
}
.rdt_TableHeadRow {
  font-weight: bolder;
  font-size: 14px;
}
.required-mark:after {
  content: ' *';
  color: red;
}
.form-group {
  margin-bottom: 1rem;
}

/*Image Upload Container*/
.image-container {
  border: 1px dashed #b8b8b8;
  min-width: 202px;
  max-width: 100%;
  max-height: 202px;
  position: relative;
  cursor: pointer;
  overflow-x: auto;
  display: flex;
  .image-container-wrapper {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .change-image {
    display: none;
    width: 202px;
    background: #bb3f42;
    transition: all 0.2s ease-in-out;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
    line-height: 32px;
    text-align: center;
  }
  input {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 999;
    cursor: pointer;
  }
  i {
    display: none;
    position: absolute;
    font-size: 32px;
    background: #fff;
    cursor: pointer;
    color: #bb3f42;
    top: -11px;
    right: -11px;
    height: 26px;
    border-radius: 50%;
    z-index: 9999;
  }
  &:hover {
    i,
    .change-image {
      display: block;
    }
  }
}

.image-container-icon {
  position: relative;
  cursor: pointer;
  input {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 999;
    cursor: pointer;
  }
}

.image-container-overflow {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  border: 1px dashed #b8b8b8;
  img {
    width: 200px;
    height: 190px;
    margin: 0 10px;
  }
  i {
    opacity: 0;
    visibility: hidden;
    right: 12px;
    top: 0;
    font-size: 24px;
    color: red;
    cursor: pointer;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    i {
      opacity: 1;
      visibility: visible;
    }
  }
}

.item-section {
  .default-image {
    img {
      width: 150px;
      height: 150px;
    }
  }
}

.horizontalScroll {
  max-height: 500px;
  overflow-y: auto;
}
